body {
    font-family: Arial;
    background: #2a505ae5;
    padding: 40px;
}
.box {
    width: 420px;
    margin: auto;
    padding: 25px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(57, 83, 168, 0.2);
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}
label {
    font-weight: bold;
    color: #000000;
}
input {
    width: 100%;
    padding: 8px;
    margin: 6px 0 12px;
    border: 1px solid #00d4f0;
    border-radius: 6px;
    background: #ffffff;
}
button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #356f79;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #58829e;
}

.edit-btn {
    background: #0e678a;
}

.submit-btn {
    background: #0e678a;
}